body {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    margin:0;
    background: rgba(0, 0, 0, 0.5);
}
table, td, th {
    border:1px solid white;
    color:white;
    border-collapse: collapse;
    font-size:18px;
    white-space:nowrap;
}

td, th {
    text-align:center;
    padding:3px;
}



#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .hidden {
    display: none;
  }