body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.5);
}
table,
td,
th {
  border: 1px solid white;
  color: white;
  border-collapse: collapse;
  font-size: 18px;
  white-space: nowrap;
}

td,
th {
  text-align: center;
  padding: 3px;
}

html {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  min-height: 100%;
  height: 100%;
}
